@import "tailwindcss";
@plugin "daisyui";

:root {
    --component-bg-primary-color: #f9fafb;
    --dark-mode-main-bg-color: #1c222a;
    --dark-mode-secondary-bg-color: #343844;
    --dark-mode-main-text-color: #ffffff;
}

main {
    min-height: calc(100vh - 6.7rem);
}

body {
    background-color: var(--component-bg-primary-color);
}
