@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --dark-mode-main-bg-color: #1c222a;
    --dark-mode-secondary-bg-color: #343844;
    --dark-mode-main-text-color: #ffffff;
}
